#tabs {
    flex-direction: row;
    background-color: rgb(229, 223, 223);
    -unity-font-style: bold;
    font-size: 14px;
}

.active {
    background-color: rgb(0, 255, 21);
    font-size: 54px;
    background-image: url('project://database/Assets/ImgUI_Images/BigButton_Warning.png?fileID=2800000&guid=9862ccf996e89f541860303e5f6d01b9&type=3#BigButton_Warning');
    border-left-width: -7px;
    border-right-width: -7px;
    border-top-width: -7px;
    border-bottom-width: -7px;
    translate: 25px 0;
}

.unity-button.tab {
    flex-grow: initial;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 23px;
}

.unity-button.tab.currentlySelectedTab {
    background-color: rgba(0, 0, 255, 0.63);
    -unity-text-outline-width: -19px;
    -unity-background-image-tint-color: rgb(46, 255, 0);
    background-image: none;
    color: rgb(0, 0, 0);
}

#tabContent {
    font-size: 20px;
}

.unselectedContent {
    display: none;
}
